<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Empresa Transporte Saavedra</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" >   
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body> 

        <header>

            <nav>
                <div id="imagen-logo">
                
                    <img class="logo" src ="/images/LOGO_EMPRESA_3.png" alt="Logo Empresa">

                </div>

                <div>
                    <h2 class="titulo">Transporte Saavedra</h2>
                </div>

                <div>

                    <h5 class="subtitulo">transporte de carga generales</h5>
                </div>

                
                <input type="checkbox" id="check">
                <label for="check" class="bar-btn">

                    <i class="fas fa-bars" style="color: #d4af37;"></i>

                </label>
                <ul class="nav-menu">

                    <li><a href="#">Quienes Somos?</a></li>
                    <li><a href="#">Galeria</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            
            </nav>
            
        </header> 
           
        <main > 

            <div>   
                <h1 class="quienes-somos">¿Quienes Somos?</h1>
            </div>

            <div>

                <h3 class="texto-quienes-somos">Somos una empresa de transporte de cargas familiar, con más de 28 años de 
                    experiencia en el rubro.
                    
                    Nos especializamos en transporte de cargas generales y de grandes dimensiones, y 
                    contamos con una flota de vehículos modernos y equipados para asegurar la protección 
                    de su carga en todo momento. Además, ofrecemos servicios de logística para ayudar a 
                    nuestros clientes a gestionar sus operaciones de manera eficiente.
                    
                    Nos esforzamos por brindar un servicio de calidad a todos nuestros clientes, tanto 
                    grandes empresas como pequeños emprendedores.</h3>

            </div>

            <div class="carrusel-celular">

                <img class="elemento"
                    id="image-doble-camion"
                    src="/images/doble-camion.jpg"
                 alt="foto camion"
                />
                <img class="elemento"
                    id="image-doble-camion"
                    src="/images/camion-solo-1.jpg"
                 alt="foto camion"
                />
                <img class="elemento"
                    id="image-doble-camion"
                    src="/images/camion-solo-2.jpg"
                 alt="foto camion"
                />
                


            </div>



            <div>   
                <h1 class="contacto">Contacto</h1>
            </div>

            <form action="/" method="post" class="formulario">
                <div class="container-form">

                   <div>
               
                       <input type="text" id="blanco-1" name="blanco-1" placeholder="Nombre Completo" minlength="5" required>  

                   </div>

                   <div>
               

                        <input type="text" id="blanco-2" name="blanco-2" placeholder="Apellido" minlength="11" required>

                   </div>

                   <div>
               

                        <input type="text" id="blanco-2" name="blanco-3" placeholder="DNI" minlength="11" required>

                   </div>

                    <div>
               

                        <input type="text" id="blanco-2" name="blanco-4" placeholder="Provincia" minlength="11" required>

                    </div>

                   <div>

                        <textarea name="comentarios" id="comentarios" rows="10" cols="40" ></textarea>

                   </div>

                   <div class="botones-login">
               
                       <button type="submit"  class="boton-login">Enviar </button>

                       
                   </div>

            </div>

            <h1 class="llamanos">O llamanos...</h1>


            <div id="footer-informacion" class="footer-column">
                
                <div><i class="fab fa-whatsapp"> </i></div>
        
                <h3 class="footer-h3"> +54 1138209057 </h3>
        
                <div><i class="fab fa-instagram"></i></div>
        
                <h3 class="footer-h3"> @transpsaavedra </h3>
    
        
                <div><i class="fas fa-envelope"></i></div>
        
                <h3 class="footer-h3"> transaav@live.com </h3>
        
        
        
            </div>
              
    
        </main> 
        <footer class="footer-home">

        
                <iframe class="mapa-formosa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57293.53055967326!2d-58.204684883022956!3d-26.16915551041706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945ca5e488cf4f05%3A0xbcaebe65a1bae72!2sFormosa%2C%20Formosa%20Province!5e0!3m2!1sen!2sar!4v1684209516552!5m2!1sen!2sar" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
            
        </footer>

    </body>
</html>