
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
  
}


header {

  background-color: grey;
  width: 100%;
  
}

  



.header-bottom-bar{

  width: 100%;
  margin: auto;
}

body{

  
  background-color: #15151c;
  width: auto;
}

img.logo{
  width: 150px;
  position: relative;
  top: -100px; /* ajustar los valores para mover la imagen */
  left: -120px;
  margin: 30%;
  
  
}

.titulo{

  
  color: white;
  display: flex;
  position: relative;
  top: -300px;
  left: 70px;
  width: 250px;
  margin: auto;
  
}

.subtitulo{

  
  color: white;
  display: flex;
  position: relative;
  top: -300px;
  left: 150px
}

.burger-menu{

  background-color: #D4AF37;
  color: white;
  text-align: center;
  font-size: 25px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: fit-content;
  margin: 0 auto;
  

}

div.burger-menu{

  position: relative;
  top: -230px;
  left: 1px;
}

.bar-btn{

  font-size: 40px;
  cursor: pointer;
  position: relative;
  top: -220px;
  left: 170px;
}

#check{

  font-size: 24px;
  cursor: pointer;
  position: relative;
  top: -220px;
  left: 170px;
}

.nav-menu{
          
  display: flex;
  font-size: 1.3em;
  flex-direction: column;
  align-items: center;
  list-style: none;
  color: #D4AF37;
  position: relative;
  text-decoration: underline;
  background: #15151c;
  transition: all .5s;
  height: 0px;

}

.nav-menu li {

  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all .5s;
}

.nav-menu li a {

  color: #D4AF37;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover {

  transition: .3s;
}

.quienes-somos{

  color:#D4AF37;
  display: flex;
  justify-content: center;
  position: relative;
  
}

#check {

  display: none;
}

#check:checked ~ .nav-menu{

  height: 50vh;
}

#check:checked ~ .nav-menu li{

  display: block;
}


.texto-quienes-somos{

  color:#D4AF37;
  display: flex;
  font-size: .9em;
  line-height: 1.8em;
  margin: 1em 0 0 0;
  text-align: justify;
  padding-right: 15px;
  padding-left: 15px;
}

  
  

.slider-item{

  width: 80%;
  padding-top: 50px;
  display: flex;
  position: relative;
  left: 45px;

}


#blanco-1 , #blanco-2 , #blanco-3 ,#blanco-4{

  margin: 20px;
  height: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  border: 1px solid #e6e6e6 !important;
  border-width: 1px;
  background-color: white;
}

.container-form div{

  margin-top: 20px;   
  width: 134%;
  
  
}

#comentarios{

  background-color: white;
}

.formulario{

  margin-top: 50px;
  margin-left: 40px;
}

.contacto{

  color:#D4AF37;
  display: flex;
  justify-content: center;
  position: relative;
  top: 25px;
  text-decoration: underline;
  

}

.llamanos{

  color:#D4AF37;
  display: flex;
  justify-content: center;
  position: relative;
  top: 25px;
  
}

.contacto-2{

  color:#D4AF37;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 200px;
}

.container-form{

  padding-top: 100px;
  padding: 10px;
  width: 70%;
  justify-content: center;

 
}



.boton-login{

  
  
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  background-color: #D4AF37;
  color: black;
  font-size: 16px;
  cursor: pointer;
  
  
}


.footer-column {
  
  flex: 80%;
  margin-top: 100px;
  align-self: center;
  margin-bottom: 1em;
}


#footer-informacion h3 {
  margin-top: 0;
  margin-bottom: 1em;
  color: #D4AF37;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -28px;
}



main i {
  color: #D4AF37;
  padding: 5px;
  border: #D4AF37 1px solid;
  border-radius: 100%;
  transition: transform 400ms;
  position: relative;
  left: 59px;
}

.carrusel-celular{

  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}

.elemento{

  flex: 1 0 auto;
  margin: 0 50px;
  width: 300px;
  height: 300px;
}

.mapa-formosa{

  display: none;
}



@media (min-width: 468px) {

  
  

}


@media (min-width: 768px) and (max-width: 1023px) {

  img.logo{
    width: 300px;
    position: relative;
    top: -200px; /* ajustar los valores para mover la imagen */
    left: -240px;
    border-radius: 50%;
    margin: 30%;
    
  }

  .titulo{

  
    color: white;
    display: flex;
    position: relative;
    top: -620px;
    left: 100px;
    width: 380px;
    font-size: 40px
    
  }
  
  .subtitulo{
  
    
    color: white;
    display: flex;
    position: relative;
    top: -620px;
    left: 330px;
    font-size: 20px;
  }

  
  header {

    background-color: #15151c;
    height: 700px;
  }

  
  
  div.burger-menu{
  
    position: relative;
    top: -500px;
    left: 1px;
  }



  footer i {
    color: #D4AF37;
    padding: 5px;
    border: #D4AF37 1px solid;
    border-radius: 100%;
    transition: transform 400ms;
    position: relative;
    left: 250px;
    
    
  }
  

}


@media (min-width: 1024px) {


  img.logo{
    
    width: 200px;
    margin: 100px;
    
    
  }

  .footer-home{

    width: 100%;
    height: 501px;
  }


  header {

    background-color: black;
    height: 200px;
    margin-bottom: 200px;
  }


  .titulo{

  
    color: white;
    position: relative;
    font-size: 40px;
    width: 400px;
    top: -350px;
    left: -590px;
    
    
  }
  
  .subtitulo{
  
    
    color: white;
    width: 400px;
    position: relative;
    top: -350px;
    left: 180px;
    font-size: 20px;
  }

  .slider-item{

    width: 80%;
    padding-top: 50px;
    display: flex;
    position: relative;
    left: 45px;
    display: none;
    
  
  }

  #blanco-1 , #blanco-2 , #blanco-3 ,#blanco-4{

    margin: 20px;
    height: 40px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    border: 1px solid #e6e6e6 !important;
    border-width: 1px;
    background-color: white;
  }

  #comentarios{

    background-color: white;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    border: 1px solid #e6e6e6 !important;
    border-width: 1px;
    background-color: white;
  }
  
  .boton-login{

  
  
    width: 50%;
    
    
    
  }

  .burger-menu{

    display: none;
    
  
  }
  



  .mapa-formosa{

    display:block;
  }

  

  .texto-quienes-somos{

    color: #D4AF37;
    display: flex;
    font-size: 1.2em;
    line-height: 1.8em;
    margin: 1em 0 0 0;
    text-align: -webkit-auto;
    padding-right: 40px;
    padding-left: 40px;
  }

  
  .carrusel-celular{

    display: none; 
  }
  
  .elemento{
  
    display: none;
  }

  
  .bar-btn{
  
    display: none;
  }
  
  
  .nav-menu li {
  
    display: flex;
    position: relative;
    top: -500px;
    
   
  }


  .nav-menu{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  

  

  
  #check:checked ~ .nav-menu{
  
    display: none;
  }
  
 
  

  

}