
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.descuentos {

  
  font-size: 16px ;
  color: #40b54b;
}

.precios {

  font-size: 18px;
}

.titulares {

  font-size: 24px;
  margin: 20px;
  color: #666666;

}

.cuerpo {


  font-size: 12px;
}


.descripcion {

  font-size: 16px;
}

body{ 

  background-color: white;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  text-decoration: none;
  color: black;
  background-color: #ececec;
  font-size: 12px;

}
  

header {

  background-color: #EAC926;
  padding: 5%;

  
}

.home {

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}


.burger-menu{

  background-color: #1259c3;
  color: white;
  text-align: center;
  font-size: 24px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: fit-content;
  margin: 0 auto;
  

}



div#search {
  display: block;
  font-size: 15px;
  background-color: white;
  border-radius: 5%;
  padding: 10px;
  color: #666666;
}

div#search i {
  font-size: 15px;
}

#comprar {

  margin: 20px;
  text-align: center;
}

#imagen-logo{

  width: 200px;
  margin: 20px;
}


nav {
  display: none;
}

#button-search{

  position: absolute;
  margin: 8px;
  top: 15%;
  
  
 
}


.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.productos article{

  width: 90%;
}

main section h2 {

  margin: 20px 0px;
}

main section article {
  text-align: center;
  margin: 10px 0px;
  background-color: #fff;    
  

}

main {

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

}





section.banner img {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  width: 100%;
}


main article div i {
    display: flex;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left:87%;
    top: -30px;
}

main section article i,
.discount{
    color: #39b54a;
}

main article div {
  text-align: left;
  background-color: white;
  border-top: #ebebeb 1px solid;
  padding: 15px;
}

main section article{
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}



@media (min-width: 361px) {
  .descripcion {
    display: inherit;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    margin: 20px 0px 0px 0px;
  }

  header nav {
    display: inherit;
    text-decoration: inherit;
    color: inherit;
    padding: 15px;
  }

  ul#nav-bar li a {
    text-decoration: inherit;
    color: inherit;
  }

  div#burger-menu {
    display: none;
  }

  main section article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

  }

@media (min-width: 769px) {

}


section.footer i {
  display: flex;
  justify-content: center;
  color: #104aa2;
  font-size: 30px;
  margin: 12px;
}

section.footer h3 {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #676767;
  margin: 0px;
}

section.footer p {
  display: flex;
  justify-content: center;
  font-size: 11px;
  color: #676767;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0px;
  line-height: 19px;
}


@media (min-width: 468px){

  .descuentos {
      font-size: 22px;
  }

  .productos{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
  }    

  .productos article {
      width: 44%;
  }

}


